.definition {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.theorem {
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
}

.proof {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}
.qed {
    float: right;
}


